.layout-side {
  
  .header {
  .header-content {
      .app-menu-links {
        gap: var(--space-none);
      }
    }
  }

  .aside-navigation__content {
    background-color: var(--color-neutral-1);
    bottom: 0;
    height: auto;
    position: fixed;
    top: 0;
    width: var(--side-menu-size);
    z-index: 10;
    border-right: 1px solid var(--color-neutral-3);

  .application-name {
      height: var(--header-size);
      border-bottom: 1px solid #E9ECEF;
      padding: var(--space-m);

      img {
            height: 100%;
      }
    }

    .application-search {
        padding: var(--space-m);
        padding-bottom: var(--space-none);
        padding-left: var(--space-s);

        .form-control[data-input] {
          background-color: var(--color-neutral-1);
          border: 1px solid #e9ecef;
          border-radius: var(--space-s);
        }
      }
    .side-navigation {
      position: sticky;
      top: calc(var(--header-size) + var(--space-xl));
      display: block;
      height: calc(100vh - 140px);
      overflow-y: scroll;
      overflow-x: hidden;
      margin-top: var(--space-l);
      padding-left: var(--space-m);
      margin-right: var(--space-base);
      padding-right: var(--space-m);

      .osui-accordion-item {
        margin-bottom: var(--space-s);
        background-color: transparent;
        border: 0;
      
        &--is-open {
          &:after {
            border-color: transparent;
          }
        }

        &.remove-icon {
          .osui-accordion-item__icon {
            opacity: 0;
          }
        }

        &__title {
          font-size: var(--font-size-base);
          padding: var(--space-none);
          padding-bottom: var(--space-s);
        }

        &__content,
        &__content--is-expanded {
          padding: var(--space-none) var(--space-base) var(--space-s);
        }

        &__icon {
          color: var(--color-neutral-7);
        }
      }

      a,
      a:visited {
        color: var(--color-neutral-9);
        display: flex;
        margin-bottom: var(--space-s);

        .icons {
          color: var(--color-neutral-7);
        }

        &.active {
          color: var(--color-primary);
          font-weight: var(--font-semi-bold);

          .icons {
            color: var(--color-primary);
          }
        }
      }

      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      &::-webkit-scrollbar-track {
        background-color: var(--color-neutral-1);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--color-neutral-1);
        border-radius: 6px;

        &:hover {
          background-color: var(--color-neutral-2);
        }
      }

      &:hover {
        &::-webkit-scrollbar-track {
          background-color: var(--color-background-body);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--color-neutral-5);
        }
      }
    }
  }

  .app-menu-links {
    flex-direction: row;
  }
}

.desktop {
  .layout-side {
    .app-menu-content {
      position: relative;
      flex-direction: row;
      width: 100%;
      height: 100%;

      .header-logo{
        display: none;
      }
    }

    .app-menu-links {
      .osui-submenu {
        .osui-submenu__header {
          height: 100%;
          border-left: var(--border-size-none);
          border-bottom: var(--border-size-m) solid transparent;
        }

        &.active,
        &:hover {
          .osui-submenu__header {
            border-bottom: var(--border-size-m) solid var(--color-primary);
          }
        }
      }
    }
  }

  .layout.layout-side {
    .app-menu-links {
      .osui-submenu {
        height: 100%;
      }
    }

    .header-navigation {
      > .OSBlockWidget {
        display: contents;
      }
    }

    .header {
      .application-name {
        display: none;
      }
    }
  }
}
