.aside-filter_header {
  background-color: var(--color-neutral-0);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--shadow-s);
  padding: var(--space-base);
  display: flex;
  gap: var(--space-base);
  margin-bottom: var(--space-m);

  &_search {
    flex: 1;
  }

  .phone & {
    flex-direction: column;
  }
}