.verticle-filter-wrapper {
  border-radius: var(--border-radius-medium);
  background-color: var(--color-neutral-0);
  padding: var(--space-base);
  box-shadow: var(--shadow-s);
  display: flex;
  flex-direction: column;
  gap: var(--space-base);

  .verticle-filter-wrapper_accordian {
    .verticle-filter-wrapper_accordian__content {
      .osui-accordion-item {
        border-width: var(--space-none);
        border-radius: var(--border-radius-none);

        .osui-accordion-item__title {
          padding: var(--space-base) var(--space-none);
          font-weight: var(--font-medium);
          font-size: var(--font-size-base);

          .osui-accordion-item__icon {
            transition: none;
          }

          .osui-accordion-item__icon--caret {
            &:after {
              font-family: "valantic";
              content: "\edaa";
            }
          }
        }

        &.osui-accordion-item--is-open {
          &::after {
            border-width: var(--space-none);
          }

          .osui-accordion-item__title {
            .osui-accordion-item__icon--caret {
              &:after {
                content: "\ec42";
              }
            }
          }
        }

        .osui-accordion-item__content,
        .osui-accordion-item__content.osui-accordion-item__content--is-expanded {
          padding: var(--space-none);
        }
      }
    }
  }
}